<div class="container my-5">
    <div id="laptoplist" class="row g-3">
        <div *ngFor="let item of jewelery;" class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div id="item"  class="card mt-3">
                <img routerLink="/details/{{item.id}}" class="card-img-top"
                    src="{{item.image}}"
                    alt="">
                <div class="card-body mt-3">
                    <h5 class="card-title text-center">{{item.title | slice:0:11}}</h5>
                    <p class="card-text">
                        {{item.description | slice:0:90}}</p>
                        <div class="col ml-2 text-end">
                            <button type="button" class="btn btn-outline-primary me-2">Add to cart</button>
                            <button type="button" class="btn btn-primary" routerLink="/details/{{item.id}}">Details</button>
                          </div>
                </div>
            </div>
        </div>
    </div>
</div>
