<div class="body">

    <div class="container ">

        <div class="form">
            <h1>How can we help?</h1>
            <div class="m">Send us a text:1-154-474-9485</div>
            <div class="a">Give us a call:2-154-687-1258</div>
            <div class="a">Monday-Friday 6AM-PM PST</div>
            <div class="a">Saturday-Sunday 6AM-PM PST</div>
            <button>GET IN TOUCH</button>
        </div>
    </div>

</div>
<div class="container">
    <input type="email" class="form-control b" id="title" placeholder="What can we help you with">
</div>
<div class="p-5">
    <div class="row">
      <div class="col-8 mt-5">
        <h5>PAYMENTS & REFOUNDS</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">When can i expect my refound?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Does Allbirds offer discount codes or coupons?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How do i send a goft card?</a></li>
        </ul>
      </div>
      

      <div class="col-6 mt-5">
        <h5>PRODUCT & FIT</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Do allbirds run true to size? </a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Will my shirt stritch?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">are allbirds waterproof?</a></li>
        </ul>
      </div>

      <div class="col-6 mt-5">
        <h5>RETAIL</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">What services are you adding to keep the store from getting crowded?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Have store hours changed?And when well return to normal?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">What will you be providing retail staff and customers to keep them safe?</a></li>
        </ul>
      </div>

      <div class="col-6 mt-5">
        <h5>ORDERS,SHAPPING&TRACKING</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Do you offer gift wrap?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How are you keeping distribution centers safe?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Can I expedite my order?</a></li>
        </ul>
      </div>
    </div>



  