.container {
    width: 455px;
    height: 365px;
    background-color: white;
    position:absolute;
    top :200px;
    left: 92px;
    box-shadow: 7px 9px 36px;
    border-radius: 20px;
}
img{
    height: 700px;
    
}



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.name,
.password,
.age,
.email  {
    border-radius: 20px;
    width: 196px;
    height: 29px;
}

.submit {
    background: #016ABC;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: 104px;
    height: 38px;
}